In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/the_m/Desktop/premierAmerica2021.csv')

In [12]:
df.values

array([['S0001', '1/3/2022', nan, ..., 'Pending', nan, nan],
       ['S0001', '1/3/2022', nan, ..., 'Pending', nan, nan],
       ['S0001', '1/3/2022', nan, ..., 'Pending', nan, nan],
       ...,
       ['S0001', '10/30/2018', nan, ..., 'Posted', 13815.47, nan],
       ['S0001', '10/30/2018', nan, ..., 'Posted', 13915.47, nan],
       ['S0001', '10/30/2018', nan, ..., 'Posted', 14415.47, nan]],
      dtype=object)

In [30]:
values2021 = [i for i in df.values if '2021' in i[1]]

In [38]:
def processEntry(entry):
    if entry[3].startswith('Withdrawal'):
        entry[3] = entry[3][11:]
        return entry
    else:
        return entry

In [39]:
values2021Good = [processEntry(i) for i in values2021]

In [42]:
df1 = pd.DataFrame(values2021Good)
df1.columns = df.columns
df1

,Account Number,Post Date,Check,Description,Debit,Credit,Status,Balance,Classification
0,S0001,12/31/2021,NaN,Transfer,1300.00,NaN,Posted,17963.83,Transfer
1,S0001,12/28/2021,NaN,AT&amp;T,112.77,NaN,Posted,19263.83,Utilities
2,S0001,12/27/2021,4436.0,Draft 4436,200.00,NaN,Posted,19376.60,Check
3,S0001,12/23/2021,NaN,Transfer to Share 0300,15000.00,NaN,Posted,19576.60,Transfer
4,S0001,12/23/2021,NaN,Fidelity,NaN,15000.00,Posted,34576.60,Investments
...,...,...,...,...,...,...,...,...,...
334,S0001,1/4/2021,NaN,SUN LAKES COUNTR WEB PMTS ID: 9000497005,307.00,NaN,Posted,25159.89,NaN
335,S0001,1/4/2021,NaN,HORACIO BARAJ CK POPMONEY ID: 3770527921,60.00,NaN,Posted,25466.89,NaN
336,S0001,1/4/2021,NaN,Deposit FIDDB727796-004P FIDELITY ID: 9096918998,NaN,6431.44,Posted,25526.89,NaN
337,S0001,1/4/2021,NaN,Deposit FID BKG SVC LLC MONEYLINE ID: 0368504603,NaN,1000.00,Posted,19095.45,NaN
338,S0001,1/4/2021,NaN,Deposit CHASE 001633C61 PENSION ID: 1133795042,NaN,104.90,Posted,18095.45,NaN

In [43]:
df1.to_csv('C:/Users/the_m/Desktop/premierAmerica2021Good.csv')