In [2]:
import featuretools as ft

In [3]:
data = ft.demo.load_mock_customer()

In [22]:
for i in data.keys():
    print(data[i])

   customer_id zip_code           join_date date_of_birth
0            1    60091 2011-04-17 10:48:33    1994-07-18
1            2    13244 2012-04-15 23:31:04    1986-08-18
2            3    13244 2011-08-13 15:42:34    2003-11-21
3            4    60091 2011-04-08 20:08:14    2006-08-15
4            5    60091 2010-07-17 05:27:50    1984-07-28
    session_id  customer_id   device       session_start
0            1            2  desktop 2014-01-01 00:00:00
1            2            5   mobile 2014-01-01 00:17:20
2            3            4   mobile 2014-01-01 00:28:10
3            4            1   mobile 2014-01-01 00:44:25
4            5            4   mobile 2014-01-01 01:11:30
5            6            1   tablet 2014-01-01 01:23:25
6            7            3   tablet 2014-01-01 01:39:40
7            8            4   tablet 2014-01-01 01:55:55
8            9            1  desktop 2014-01-01 02:15:25
9           10            2   tablet 2014-01-01 02:31:40
10          11            4   mobile 2014-01-01 02:47:55
11          12            4  desktop 2014-01-01 03:04:10
12          13            4   mobile 2014-01-01 03:15:00
13          14            1   tablet 2014-01-01 03:28:00
14          15            2  desktop 2014-01-01 03:41:00
15          16            2  desktop 2014-01-01 03:49:40
16          17            2   tablet 2014-01-01 04:00:30
17          18            1  desktop 2014-01-01 04:14:35
18          19            3  desktop 2014-01-01 04:27:35
19          20            5  desktop 2014-01-01 04:46:00
20          21            4  desktop 2014-01-01 05:02:15
21          22            4  desktop 2014-01-01 05:21:45
22          23            3  desktop 2014-01-01 05:32:35
23          24            5   tablet 2014-01-01 05:44:30
24          25            3  desktop 2014-01-01 05:59:40
25          26            1   tablet 2014-01-01 06:17:00
26          27            1   mobile 2014-01-01 06:34:20
27          28            5   mobile 2014-01-01 06:50:35
28          29            1   mobile 2014-01-01 07:10:05
29          30            5  desktop 2014-01-01 07:27:25
30          31            2   mobile 2014-01-01 07:42:35
31          32            5   mobile 2014-01-01 08:02:05
32          33            2   mobile 2014-01-01 08:10:45
33          34            3  desktop 2014-01-01 08:24:50
34          35            3   mobile 2014-01-01 08:44:20
     transaction_id  session_id    transaction_time product_id  amount
0               298           1 2014-01-01 00:00:00          5  127.64
1                 2           1 2014-01-01 00:01:05          2  109.48
2               308           1 2014-01-01 00:02:10          3   95.06
3               116           1 2014-01-01 00:03:15          4   78.92
4               371           1 2014-01-01 00:04:20          3   31.54
5               486           1 2014-01-01 00:05:25          3   23.76
6               271           1 2014-01-01 00:06:30          3   43.63
7               192           1 2014-01-01 00:07:35          4   42.27
8               341           1 2014-01-01 00:08:40          3   47.68
9                10           1 2014-01-01 00:09:45          5   57.39
10               29           1 2014-01-01 00:10:50          2   20.91
11              158           1 2014-01-01 00:11:55          4  141.66
12              245           1 2014-01-01 00:13:00          1  121.75
13              495           1 2014-01-01 00:14:05          5   69.45
14              438           1 2014-01-01 00:15:10          4   76.38
15              175           1 2014-01-01 00:16:15          2  141.49
16              353           2 2014-01-01 00:17:20          4   42.99
17              270           2 2014-01-01 00:18:25          5  123.53
18              453           2 2014-01-01 00:19:30          5    9.32
19              370           2 2014-01-01 00:20:35          1  106.99
20               22           2 2014-01-01 00:21:40          3  116.02
21              250           2 2014-01-01 00:22:45          2   60.09
22               74           2 2014-01-01 00:23:50          5   90.69
23              207           2 2014-01-01 00:24:55          5   48.27
24              399           2 2014-01-01 00:26:00          2  135.25
25              122           2 2014-01-01 00:27:05          5   13.81
26              496           3 2014-01-01 00:28:10          1  137.82
27              459           3 2014-01-01 00:29:15          1   23.20
28              134           3 2014-01-01 00:30:20          3  120.08
29              384           3 2014-01-01 00:31:25          4   26.16
..              ...         ...                 ...        ...     ...
470             497          34 2014-01-01 08:29:10          5  148.86
471             430          34 2014-01-01 08:30:15          4   34.68
472             500          34 2014-01-01 08:31:20          2  129.35
473             467          34 2014-01-01 08:32:25          5  145.19
474             425          34 2014-01-01 08:33:30          3   70.38
475             361          34 2014-01-01 08:34:35          3   71.63
476             469          34 2014-01-01 08:35:40          3   14.48
477             284          34 2014-01-01 08:36:45          1   30.04
478             277          34 2014-01-01 08:37:50          4  128.34
479             267          34 2014-01-01 08:38:55          5   58.47
480             319          34 2014-01-01 08:40:00          4  128.23
481             241          34 2014-01-01 08:41:05          4   27.57
482             427          34 2014-01-01 08:42:10          1   16.75
483             237          34 2014-01-01 08:43:15          1  108.01
484               3          35 2014-01-01 08:44:20          3   62.49
485               6          35 2014-01-01 08:45:25          4   17.05
486              14          35 2014-01-01 08:46:30          1   51.20
487             435          35 2014-01-01 08:47:35          3   60.49
488             493          35 2014-01-01 08:48:40          5  132.94
489             374          35 2014-01-01 08:49:45          1   60.51
490             118          35 2014-01-01 08:50:50          1  108.50
491             338          35 2014-01-01 08:51:55          5   93.71
492              37          35 2014-01-01 08:53:00          5   62.79
493             331          35 2014-01-01 08:54:05          1   17.58
494             311          35 2014-01-01 08:55:10          5   24.01
495             112          35 2014-01-01 08:56:15          5   55.42
496             111          35 2014-01-01 08:57:20          3   34.87
497             276          35 2014-01-01 08:58:25          1   10.94
498             266          35 2014-01-01 08:59:30          5   19.86
499             203          35 2014-01-01 09:00:35          3  148.31

[500 rows x 5 columns]
  product_id brand
0          1     B
1          2     B
2          3     B
3          4     B
4          5     A

In [21]:
customers_df = data["customers"]
sessions_df = data["sessions"]
transactions_df = data["transactions"]

customers_df

   customer_id zip_code           join_date date_of_birth
0            1    60091 2011-04-17 10:48:33    1994-07-18
1            2    13244 2012-04-15 23:31:04    1986-08-18
2            3    13244 2011-08-13 15:42:34    2003-11-21
3            4    60091 2011-04-08 20:08:14    2006-08-15
4            5    60091 2010-07-17 05:27:50    1984-07-28

In [11]:
entities = {
       "customers" : (customers_df, "customer_id"),
       "sessions" : (sessions_df, "session_id", "session_start"),
       "transactions" : (transactions_df, "transaction_id", "transaction_time")
    }

In [12]:
relationships = [("sessions", "session_id", "transactions", "session_id"),
                     ("customers", "customer_id", "sessions", "customer_id")]

In [43]:
feature_matrix_customers, features_defs = ft.dfs(entities=entities,
                                                 relationships=relationships,
                                                 target_entity="customers", 
                                                 max_depth=2)

In [44]:
feature_matrix_customers

,zip_code,COUNT(sessions),NUM_UNIQUE(sessions.device),MODE(sessions.device),SUM(transactions.amount),STD(transactions.amount),MAX(transactions.amount),SKEW(transactions.amount),MIN(transactions.amount),MEAN(transactions.amount),COUNT(transactions),NUM_UNIQUE(transactions.product_id),MODE(transactions.product_id),DAY(join_date),DAY(date_of_birth),YEAR(join_date),YEAR(date_of_birth),MONTH(join_date),MONTH(date_of_birth),WEEKDAY(join_date),WEEKDAY(date_of_birth),SUM(sessions.MEAN(transactions.amount)),SUM(sessions.MAX(transactions.amount)),SUM(sessions.STD(transactions.amount)),SUM(sessions.NUM_UNIQUE(transactions.product_id)),SUM(sessions.SKEW(transactions.amount)),SUM(sessions.MIN(transactions.amount)),STD(sessions.MEAN(transactions.amount)),STD(sessions.COUNT(transactions)),STD(sessions.MAX(transactions.amount)),STD(sessions.NUM_UNIQUE(transactions.product_id)),STD(sessions.SKEW(transactions.amount)),STD(sessions.MIN(transactions.amount)),STD(sessions.SUM(transactions.amount)),MAX(sessions.MEAN(transactions.amount)),MAX(sessions.COUNT(transactions)),MAX(sessions.STD(transactions.amount)),MAX(sessions.NUM_UNIQUE(transactions.product_id)),MAX(sessions.SKEW(transactions.amount)),MAX(sessions.MIN(transactions.amount)),MAX(sessions.SUM(transactions.amount)),SKEW(sessions.MEAN(transactions.amount)),SKEW(sessions.COUNT(transactions)),SKEW(sessions.MAX(transactions.amount)),SKEW(sessions.STD(transactions.amount)),SKEW(sessions.NUM_UNIQUE(transactions.product_id)),SKEW(sessions.MIN(transactions.amount)),SKEW(sessions.SUM(transactions.amount)),MIN(sessions.MEAN(transactions.amount)),MIN(sessions.COUNT(transactions)),MIN(sessions.MAX(transactions.amount)),MIN(sessions.STD(transactions.amount)),MIN(sessions.NUM_UNIQUE(transactions.product_id)),MIN(sessions.SKEW(transactions.amount)),MIN(sessions.SUM(transactions.amount)),MEAN(sessions.MEAN(transactions.amount)),MEAN(sessions.COUNT(transactions)),MEAN(sessions.MAX(transactions.amount)),MEAN(sessions.STD(transactions.amount)),MEAN(sessions.NUM_UNIQUE(transactions.product_id)),MEAN(sessions.SKEW(transactions.amount)),MEAN(sessions.MIN(transactions.amount)),MEAN(sessions.SUM(transactions.amount)),NUM_UNIQUE(sessions.YEAR(session_start)),NUM_UNIQUE(sessions.DAY(session_start)),NUM_UNIQUE(sessions.MODE(transactions.product_id)),NUM_UNIQUE(sessions.WEEKDAY(session_start)),NUM_UNIQUE(sessions.MONTH(session_start)),MODE(sessions.YEAR(session_start)),MODE(sessions.DAY(session_start)),MODE(sessions.MODE(transactions.product_id)),MODE(sessions.WEEKDAY(session_start)),MODE(sessions.MONTH(session_start)),NUM_UNIQUE(transactions.sessions.device),NUM_UNIQUE(transactions.sessions.customer_id),MODE(transactions.sessions.device),MODE(transactions.sessions.customer_id)
customer_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,60091,8,3,mobile,9025.62,40.442059,139.43,0.019698,5.81,71.631905,126,5,4,17,18,2011,1994,4,7,6,0,582.193117,1057.97,312.745952,40,-0.476122,78.59,13.759314,4.062019,7.322191,0.000000,0.589386,6.954507,279.510713,88.755625,25,46.905665,5,0.640252,26.36,1613.93,-0.424949,1.946018,-0.780493,-0.312355,0.000000,2.440005,0.778170,50.623125,12,118.90,30.450261,5,-1.038434,809.97,72.774140,15.750000,132.246250,39.093244,5.000000,-0.059515,9.823750,1128.202500,1,1,4,1,1,2014,1,4,2,1,3,1,mobile,1
2,13244,7,3,desktop,7200.28,37.705178,146.81,0.098259,8.73,77.422366,93,5,4,15,18,2012,1986,4,8,6,0,548.905851,931.63,258.700528,35,-0.277640,154.60,11.477071,3.450328,17.221593,0.000000,0.509798,15.874374,251.609234,96.581000,18,47.935920,5,0.755711,56.46,1320.64,0.235296,-0.303276,-1.539467,0.013087,0.000000,2.154929,-0.440929,61.910000,8,100.04,27.839228,5,-0.763603,634.84,78.415122,13.285714,133.090000,36.957218,5.000000,-0.039663,22.085714,1028.611429,1,1,4,1,1,2014,1,3,2,1,3,1,desktop,2
3,13244,6,3,desktop,6236.62,43.683296,149.15,0.418230,5.89,67.060430,93,5,1,13,21,2011,2003,8,11,5,4,405.237462,847.63,257.299895,29,2.286086,66.21,11.174282,2.428992,10.724241,0.408248,0.429374,5.424407,219.021420,82.109444,18,50.110120,5,0.854976,20.06,1477.97,0.678544,-1.507217,-0.941078,-0.245703,-2.449490,1.000771,2.246479,55.579412,11,126.74,35.704680,4,-0.289466,889.21,67.539577,15.500000,141.271667,42.883316,4.833333,0.381014,11.035000,1039.436667,1,1,4,1,1,2014,1,1,2,1,3,1,desktop,3
4,60091,8,3,mobile,8727.68,45.068765,149.95,-0.036348,5.73,80.070459,109,5,2,8,15,2011,2006,4,8,4,1,649.657515,1157.99,356.125829,37,0.002764,131.51,13.027258,3.335416,3.514421,0.517549,0.387884,16.960575,235.992478,110.450000,18,54.293903,5,0.382868,54.83,1351.46,1.980948,0.282488,0.027256,-1.065663,-0.644061,2.103510,-0.391805,70.638182,10,139.20,29.026424,4,-0.711744,771.68,81.207189,13.625000,144.748750,44.515729,4.625000,0.000346,16.438750,1090.960000,1,1,5,1,1,2014,1,1,2,1,3,1,mobile,4
5,60091,6,3,mobile,6349.66,44.095630,149.02,-0.025941,7.55,80.375443,79,5,5,17,28,2010,1984,7,7,5,5,472.231119,839.76,259.873954,30,0.014384,86.49,11.007471,3.600926,7.928001,0.000000,0.415426,4.961414,402.775486,94.481667,18,51.149250,5,0.602209,20.65,1700.67,0.335175,-0.317685,-0.333796,0.204548,0.000000,-0.470410,0.472342,66.666667,8,128.51,36.734681,5,-0.539060,543.18,78.705187,13.166667,139.960000,43.312326,5.000000,0.002397,14.415000,1058.276667,1,1,5,1,1,2014,1,3,2,1,3,1,mobile,5

In [17]:
ft.dfs?